---
- name: Install Docker
  apk:
    name:
      - docker
      - docker-cli
      - docker-compose
    state: present

- name: Ensure docker group exists
  group:
    name: docker
    state: present

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Add Docker service to boot
  command: rc-update add docker boot
  changed_when: false
  ignore_errors: yes

- name: Start Docker service
  service:
    name: docker
    state: started
