---
- name: Download AWS CLI installer
  get_url:
    url: "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip"
    dest: /tmp/awscliv2.zip
    mode: '0644'

- name: Install unzip
  apt:
    name: unzip
    state: present

- name: Unzip AWS CLI installer
  unarchive:
    src: /tmp/awscliv2.zip
    dest: /tmp
    remote_src: yes
    creates: /tmp/aws

- name: Install AWS CLI
  command: /tmp/aws/install
  args:
    creates: /usr/local/bin/aws

- name: Verify AWS CLI installation
  command: aws --version
  register: aws_version
  changed_when: false

- name: Display AWS CLI version
  debug:
    msg: "AWS CLI version: {{ aws_version.stdout }}"
