---
- name: Install pipx for Poetry installation
  pip:
    name: pipx
    executable: pip3

- name: Ensure pipx path is set
  command: pipx ensurepath
  changed_when: false

- name: Install Poetry via pipx
  shell: |
    pipx install poetry
  args:
    creates: /root/.local/bin/poetry

- name: Create symlink for poetry
  file:
    src: /root/.local/bin/poetry
    dest: /usr/local/bin/poetry
    state: link

- name: Verify Poetry installation
  command: poetry --version
  register: poetry_version_output
  changed_when: false

- name: Display Poetry version
  debug:
    msg: "Poetry version: {{ poetry_version_output.stdout }}"
