---
- name: Force apt to use IPv4
  copy:
    dest: /etc/apt/apt.conf.d/99force-ipv4
    content: 'Acquire::ForceIPv4 "true";'
    mode: "0644"

- name: Configure apt mirror
  replace:
    path: /etc/apt/sources.list
    regexp: 'http://archive\.ubuntu\.com/ubuntu'
    replace: "{{ apt_mirror }}"
  when: apt_mirror != "http://archive.ubuntu.com/ubuntu"

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name:
      - ca-certificates
      - curl
      - direnv
      - git
      - gnupg
      - lsb-release
      - build-essential
      - software-properties-common
    state: present
